<dl class="result answerers">
    <dt>Top Answerer</dt>
    <dd>
        <a href={{answerera}} target="_blank">{{answerer}}</a>
    </dd>
    <dd class="answerer-image">
        <img src={{answererimage}} alt="">
    </dd>
    <dt>Reputation</dt>
    <dd>{{reputation}}</dd>
    <dt>Acceptance Rate</dt>
    <dd>{{acceptance}}</dd>
    <dt>Post Count</dt>
    <dd>{{postcount}}</dd>
    <dt>Score</dt>
    <dd>{{score}}</dd>
</dl>
